*.swp
node_modules
yarn-error.log
coverage
node_modules
lib/
output-package.tgz
*.tgz
.reports
dist
build/
logs/log.html
logs/output.xml
logs/report.html
logs
*.png
*.mp4
*.mkv
*.log
*.html
*.css
*.ico
*pycache*
package-lock.json